@media only screen and (min-width: 768px) {
  .product-details-mobile {
    display: none;
  }

  .shopping-cart {
    margin: auto 3rem;
  }

  .cart-and-summary {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .cart-item {
    width: 95%;
  }

  .cart-img {
    width: 75%;
  }

  .cart-details h6 {
    font-size: calc(0.5rem + 1vw);
  }

  .empty-cart {
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .product-details-desktop {
    display: none;
  }
}
